
#main {
  width: 100%;
  height: 500px;
  background: url("#{$path-img}/you.jpg") top/100%;
  text-align: center;
  img {
    width: 200px;
    margin: 50px 0 30px 0;
  }
}


.column {
  background-color: $color-div-background;
  height: 640px;
  width: 500px;
  @extend %l-float;
  margin: 0;
  padding-top: 40px;
  display: inline-block;
  overflow: auto;
}

.picture {
  display: inline-block;
  width: 218.5px;
  height: 143.5px;
  margin: 20px 0 0 20px;
  background-size: 100% 100%;
  background-position: center center;
  transition: all 400ms ease;
  &:hover {
    cursor: pointer;
    background-size: 150% 150%;
  }
}

#picture1 { background-image: url(#{$path-img}/1.jpg); }
#picture2 { background-image: url(#{$path-img}/2.jpg); }
#picture3 { background-image: url(#{$path-img}/3.jpg); }
#picture4 { background-image: url(#{$path-img}/4.jpg); }
#picture5 { background-image: url(#{$path-img}/5.jpg); }
#picture6 { background-image: url(#{$path-img}/6.jpg); }

article {
   @extend %l-float;
  margin-bottom: 42px;
}
