
header {
  overflow: auto;
  background: $color-background;
}

header img {
  @extend %l-float;
  width: 75px;
  vertical-align: middle;
  margin: 32px 0 30px 20px;
}

nav {
  float: right;
}

nav ul li {
  @extend %l-float;
  list-style: none;
  margin: 20px;
}

nav ul li:hover {
  color: $color-main-red;
  cursor: pointer;
}
