// Descriptive Color Variables

$white    : #ffffff;
$black    : #000000;
$cardinal : #C02026;
$shark    : #182022;

// Functional Color Variables

$color-text           : $white;
$color-background     : $black;
$color-main-red       : $cardinal;
$color-div-background : $shark;


//font stacks
$stack-sans-serif : 'Roboto', sans-serif;

//Asset paths (images)
$path-img : '../img';

// width
