// Descriptive Color Variables

$white    : #ffffff;
$black    : #000000;
$cardinal : #C02026;
$shark    : #182022;

// Functional Color Variables

$color-text           : $white;
$color-background     : $black;
$color-main-red       : $cardinal;
$color-div-background : $shark;


//font stacks
$stack-hind : 'Hind', sans-serif;
$stack-open : 'Open Sans', sans-serif;
